<div class="div-q-single">
  <p>
  <strong>Nick:</strong>
  <%= question.nick %>
</p>
<p>
   <strong>Content:</strong>
   <%= question.content %>
</p>
<p>
   <strong>Date:</strong>
   <%= question.created_at.to_date %>
</p>

<% if question.user == current_user || current_user&.admin? %>
   <p><small><%= link_to 'Edit', edit_offer_question_path(offer_id: question.offer.id, id: question.id) %>
   <%= link_to 'Delete', offer_question_path(offer_id: question.offer.id, id: question.id), method: :delete, data: { confirm: 'Are you sure?' } %></p></small>
<% end %>

</div>
