<%= render "common/logo_nh" %>

<div class="container">

  <div class="div-login">

    <h4 style="text-align: center"><b>Forgot your password?</b></h4>
    <br>
    <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" } %>
      </div>

      <div align="center", class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", disabled: true, class: "btn btn-light border border-info", style: "font-weight: bold" %>
      </div>
    <% end %>
    <br>

    <%= render "devise/shared/links" %>

  </div>
  <p><br></p>
  <p><br></p>

</div>
