<%= render "common/logo_nh" %>

<div class="container">

  <div class="div-login">

    <h4 style="text-align: center"><b>Log in<b></h4>
    <br>

    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="form-inputs">
        <%= f.input :email, required: false, autofocus: true, input_html: { autocomplete: "email" }, class: 'form-control' %>
        <%= f.input :password, required: false, input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions", align="center">
        <%= f.button :submit, "Log in", class: "btn btn-light border border-info", style: "font-weight: bold" %>
      </div>
    <% end %>
    <br>

    <%= render "devise/shared/links" %>

  </div>
  <p><br></p>
  <p><br></p>

</div>
