<%= render 'common/errors', model: @offer %>

<%= simple_form_for @offer do |f| %>
  <p>
     <%= f.input :status, as: :radio_buttons, label_method: lambda { |k| k.humanize }, collection: Offer.statuses.keys, wrapper: :vertical_collection_inline %>
  </p>
  <p>
     <%= f.input :title %>
  </p>
  <p>
     <%= f.input :area, label: "Area in square metres:" %>
  </p>
  <p>
     <%= f.association :district, collection: District.all, input_html: { multiple: false } %>
  </p>
  <p>
     <%= f.input :price, label: "Price in PLN for month:", as: :string %>
  </p>
  <p>
     <%= f.association :rooms, label: "Choose the rooms or additional elements in the apartment", label_method: lambda { |k| k.room.humanize }, value_method: :id, collection: Room.all.order(:room), as: :check_boxes, wrapper: :vertical_collection_inline %>
  </p>
  <p>
     <%= f.input :description, as: :text, placeholder: "Write about apartments and surroundings features, media prices, deposit (if is required), furnishings, requirements for tenants", input_html: { style: 'height: 200px' } %>
  </p>
  <p>
     <%= f.input :phone, label: "Contact number:", as: :string %>
  </p>

  <p>
    <%= f.label :photos %><br>
    <% @offer.photos_urls.each do |photo| %>
       <%= image_tag(photo) if @offer.photos? %>
    <% end %>
    <%= f.file_field :photos, multiple: true, class: "btn btn-light" %>
    <%= f.hidden_field :photos_cache %>
  </p>
  <p><label>
    <%= f.check_box :remove_photos! %>
    Remove photos
  </label></p>
  <p>
     <%= f.button :submit, class: "btn btn-success btn-lg" %>
  </p>
<% end %>
