<% if @offer.errors.any? %>
  <div>
    <h4>
      <%= pluralize(@offer.errors.count, 'error') %> prohibited this advertisement from being saved:
    </h4>
    <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= simple_form_for @offer do |f| %>

  <p>
     <%= f.input :status, as: :radio_buttons, collection: Offer.statuses.keys %>
  </p>
  <p>
     <%= f.input :title %>
  </p>
  <p>
     <%= f.input :area, label: "Area in square metres:" %>
  </p>
  <p>
     <%= f.association :district, collection: District.all, input_html: { multiple: false } %>
  </p>
  <p>
     <%= f.input :price, label: "Price in PLN for month:" %>
  </p>
  <p>
     <%= f.association :rooms, label: "Choose the rooms or additional elements in the apartment", label_method: :room, value_method: :id, collection: Room.all, as: :check_boxes %>
  </p>
  <p>
     <%= f.input :description, as: :text, placeholder: "Write about apartments and surroundings features, media prices, deposit (if is required), furnishings, requirements for tenants" %>
  </p>
  <p>
     <%= f.input :phone, label: "Contact number:" %>
  </p>

  <p>
    <%= f.label :photos %>

    <% @offer.photos_urls.each do |photo| %>
       <%= image_tag(photo) if @offer.photos? %>
    <% end %>
    <%= f.file_field :photos, multiple: true %>
    <%= f.hidden_field :photos_cache %>
  </p>
  <p><label>
    <%= f.check_box :remove_photos! %>
    Remove photos
  </label></p>

  <p>
     <%= f.button :submit, class: "btn-primary" %>
  </p>
<% end %>
