<% if @offer.errors.any? %>
  <div>
    <h4>
      <%= pluralize(@offer.errors.count, 'error') %> prohibited this advertisement from being saved:
    </h4>
    <ul>
      <% @offer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @offer do |f| %>

  <p>
    <%= f.label :status %><br>
    <%= f.select :status, Offer.statuses.keys %>
  </p>
  <p>
    <%= f.label :title %><br>
    <%= f.text_area :title %>
  </p>
  <p>
     <%= f.label :area, "Area in square metres:" %><br>
     <%= f.text_field :area %>
  </p>

  <p>
     <%= f.label :price, "Price in PLN for month:" %><br>
     <%= f.text_field :price %>
  </p>
  <p>
     <%= f.label :district_id, "District" %><br>
     <%= f.collection_select :district_id, District.all.order(:name), :id, :name do |dis| %>
        <%= dis.label(class:"form-check form-check-inline") { dis.check_box + dis.text } %>
     <% end %>
  </p>
  <p>
    <%= f.label :address %><br>
    <%= f.text_field :address  %>
  </p>
  <p>
     <%= f.label :room, "Choose the rooms or additional elements in the apartment" %><br>
     <%= f.collection_check_boxes :room_ids, Room.all.order(:room), :id, :room do |room| %>
        <%= room.label(class:"form-check form-check-inline") { room.check_box + room.text } %>
     <% end %>
  </p>
  <p>
     <%= f.label :description, placeholder: "Write about apartments and surroundings features, media prices, deposit (if is required), furnishings, requirements for tenants" %><br>
     <%= f.text_area :description %>
  </p>
  <p>
     <%= f.label :phone, "Contact number:" %><br>
     <%= f.text_field :phone %>
  </p>
  <p>
     <%= f.submit %>
  </p>
<% end %>
