<div>
<p><br></p>
<div class="container cont">
  <div id="best">
    <div class="row">
      <div class="col-sm">
        <h4 class="p-2 mb-2 bg-warning text-light"><b>Best 5 apartments for RENT!</b></h4>
        <table class="table table-sm"; style="font-size: 15px; background: rgba(255, 255, 240, 0.5)">
          <thead>
            <tr>
              <th style="width: 18em"> Title </th>
              <th> Price (PLN) </th>
              <th> Area m<sup>2<sup> </th>
              <th> Factor </th>
              <th style="width: 11em"> District </th>
            </tr>
            <% @best_rent.each do |r| %>
              <tr>
                <td><strong><%= link_to truncate(r.title, :length => 30), offer_path(r) %></strong></td>
                <td><%= r.price %> </td>
                <td><%= r.area %> </td>
                <td><%= r.factor %> </td>
                <td> <%= r.district.name %> </td>
              </tr>
            <% end %>
        </table>
      </div>
      <div class="col-sm">
        <h4 class="p-2 mb-2 bg-warning text-light"><b>Best 5 apartments for SALE!</b></h4>
        <table class="table table-sm table-best">
          <thead>
            <tr>
              <th style="width: 18em"> Title </th>
              <th> Price (PLN) </th>
              <th> Area m<sup>2<sup> </th>
              <th> Factor </th>
              <th style="width: 11em"> District </th>
            </tr>
            <% @best_sale.each do |s| %>
              <tr>
                <td><strong><%= link_to truncate(s.title, :length => 30), offer_path(s) %></strong></td>
                <td><%= s.price %> </td>
                <td><%= s.area %> </td>
                <td><%= s.factor %> </td>
                <td> <%= s.district.name %> </td>
              </tr>
            <% end %>
        </table>
      </div>
    </div>
  </div>
  <div>
    <span style="font-size: 1.8em; color: Gold;">
      <i class="fa fa-angle-double-up"; id="icon_best"></i>
    </span>
    <button class="btn btn-warning text-white"; id="hide_best">Hide best offers</button>
  </div>
</div>

<div class="container cont">

  <div class="row">

    <div class="col-sm-10">
      <h4 class="p-2 mb-2 bg-info text-white"> All offers of apartments for rent or for sale</h4>
      <table class="table"; style="background: rgba(255, 255, 240, 0.8)">
        <thead>
          <tr>
            <th></th>
            <th> Purpose </th>
            <th> Title </th>
            <th> Price in PLN </th>
            <th> Area (m<sup>2</sup>) </th>
            <th> District </th>
            <th> Date </th>
          </tr>
        </thead>
        <% @offers.each do |offer| %>
          <tr>
            <td>
              <%= link_to image_tag(offer.photo_url(:thumb)), offer_path(offer) if offer.photo? %>
            </td>
            <td>
              <% if offer.status == "for_rent" %>
                <span class="badge badge-pill badge-light border border-dark no-hyper2"; style="font-size: 15px; color: Black">
                  <%= link_to offer.status.humanize, offers_path(status: offer.status) %>
                </span>
              <% else %>
                <span class="badge badge-pill badge-dark no-hyper"; style="font-size: 15px">
                  <%= link_to offer.status.humanize, offers_path(status: offer.status) %>
                </span>
              <% end %>

            </td>
            <td><strong><%= link_to "#{offer.title}", offer_path(offer) %></strong></td>
            <td><%= offer.price %> </td>
            <td><%= offer.area %> </td>
            <td> <%= offer.district.name %> </td>
            <td style="font-size: 12px"><%= offer.created_at.to_date %></td>
          </tr>
        <% end %>
      </table>
      <div class="float-right">
        <%= paginate @offers, theme: 'twitter-bootstrap-4' %>
      </div>
    </div>

    <div class="col-sm-2">
      <div style="padding-bottom: 10px">
        <button class="btn btn-success btn-lg no-hyper"><h5 class="shadow-lg rounded"; style="padding: 10px"><b><%= link_to 'ADD YOUR OFFER!', new_offer_path %> </h5></b></button>
      </div>
      <br>
      <div class="div-search"; style="padding-top: 20px">
        <h5 class="shadow-lg rounded p-3 mb-2 bg-light text-dark border border-info">
        <b>CHOOSE</b></h5>
        <br>
        <h6> For rent or for sale? </h6>
        <%= form_tag offers_path, method: :get do %>
           <div class="input-group mx-auto">
              <span class="mx-auto"; style="margin-bottom: 6px"><%= select_tag :status, options_for_select(@offers.statuses.map { |s| [s.first.humanize, s.last]}, selected: params[:status]), class: "form-control" %></span><br>
              <span class="input-group-btn mx-auto">
                 <%= submit_tag "Search", class: "btn btn-info" %>
              </span>
           </div>
        <% end %>
        <br>
        <h6> Which part of Kraków? </h6>
        <%= form_tag offers_path, method: :get do %>
           <div class="input-group">
              <span class="mx-auto"><%= select_tag :district, options_for_select(District.all.order(:name).map { |d| [d.name, d.id]}, selected: params[:district]), class: "form-control" %></span>
              <span class="input-group-table table btn">
                 <%= submit_tag "Search", class: "btn btn-info" %>
              </span>
           </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<hr>

<div class="container cont">
  <span style="font-size: 1.5em; color: CadetBlue">
  <i class="fa fa-reply-all"></i>
  </span>
  <%= link_to 'Back to the main page', offers_path, class: "btn btn-info btn-lg", style: "opacity: 0.85" %>
</div>
<p><br></p>

</div>
