<div>
<br>
<br>
<h2>Current offers of apartments and houses for rent or for sale</h2>
<br>
<table>
  <thead>
    <tr>
      <th> Purpose </th>
      <th> Title </th>
      <th> Price in PLN for month </th>
      <th> Area in m2 </th>
      <th> District </th>
      <th> Publication date </th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @offers.each do |offer| %>
      <tr>

        <td><%= link_to offer.status, offers_path(status: offer.status) %></td>
        <td><strong><%= link_to "#{offer.title}", offer_path(offer) %></strong></td>
        <td><%= offer.price %> </td>
        <td><%= offer.area %> </td>
        <td> <%= offer.district_id %> </td>
        <td><%= offer.created_at.to_date %></td>
        <td><%= link_to 'Show details', offer_path(offer) %>
        <% if offer.user == current_user || current_user&.admin? %>
          <td><small><%= link_to 'Edit', edit_offer_path(offer) %></small></td>
          <td><small><%= link_to 'Delete', offer_path(offer), method: :delete, data: { confirm: "Are you sure you want to delete the offer?" } %></small></td>
        <% end %>
      </tr>
    <% end %>
</table>
</div>
<br>
<br>
<div>
  <button> <%= link_to 'Add new offer!', new_offer_path %> </buuton>
</div>
<br>
<div>
  <button> <%= link_to 'Home page', offers_path %> </button>
</div>
<br>
<%= form_tag offers_path, method: :get do %>
   <div class="input-group">
      <%= select_tag :status, options_for_select(@offers.statuses), class: "form-control" %>
      <span class="input-group-btn">
         <%= submit_tag "Search", class: "btn btn-default" %>
      </span>
   </div>
<% end %>
