
<div>

  <br>
  <br>

  <strong><h2><p>
    <%= @offer.title %>
  </p></h2></strong>
  <p>
     Purpose:
     <%= link_to @offer.status, offers_path(:status) %>
  </p>
  <p>
    Area (m2):
    <i><%= @offer.area %></i>
  </p>
  <p>
    Price for month (PLN):
    <i><%= @offer.price %></i>
  </p>
  <p>
     Rooms:
     <% @offer.rooms.each do |r| %>
        <%= r.room %> |
     <% end %>
  </p>
  <p>
    District or street:
    <i><%= @offer.address %></i>
  </p>
  <p>
    Description:
    <i><%= @offer.description %></i>
  </p>
  <p>
    Contact phone:
    <i><%= @offer.phone %></i>
  </p>
  <p><small>
    Entry author:
    <i><%= @offer.user.email %></i>
  </small></p>

  <% if @offer.user == current_user || current_user&.admin? %>
    <small>
      <%= link_to 'Edit', edit_offer_path(@offer) %>
    </small>
    <small>
      <%= link_to 'Delete', offer_path(@offer), method: :delete, data: { confirm: "Are you sure you want to delete your offer?" } %>
    </small>
  <% end %>
</div>

  <br>
  <br>
<div>
  <button>
    <%= link_to 'Home page', offers_path %>
  </button>
</div>
