<div class="container-logos">
  <div class="row">
    <div class="col">
      <button style="border: none; background: none">
        <%= link_to image_tag("logo_blue_thin_50x135_png.png", size: "405x150", alt: "logo"), offers_path %>
      </button>
    </div>
    <% if @offer.status == "for_rent" %>
      <div class="col">
        <center><%= image_tag("for_rent_blue_50x124_png.png", size: "372x150", class: "float-right", alt: "logo") %></center>
      </div>
    <% else %>
      <div class="col">
        <center><%= image_tag("for_sale_blue_50x122_png.png", size: "366x150", class: "float-right", alt: "logo") %></center>
      </div>
    <% end %>
  </div>
</div>

<div>

  <div class="container", style="padding-top: 20px">
    <div class="container div-title">
      <strong><h2>
        <%= @offer.title %>
      </h2></strong>
    </div>
    <br>
    <div class="container div-new border border-success">

      <table class="table-offer">
        <tr>
          <td class="tb-val">Purpose:</td>
          <td><% if @offer.status == "for_rent" %>
            <span class="badge badge-pill badge-light border border-dark no-hyper2"; style="font-size: 15px; color: Black">
              <%= link_to @offer.status.humanize, offers_path(status: @offer.status) %>
            </span>
          <% else %>
            <span class="badge badge-pill badge-dark no-hyper"; style="font-size: 15px">
              <%= link_to @offer.status.humanize, offers_path(status: @offer.status) %>
            </span>
          <% end %></td>
        </tr>
        <tr>
          <td>Area (m<sup>2</sup>):</td>
          <td><i><%= @offer.area %></i></td>
        </tr>
        <tr>
          <td>Price for month (PLN):</td>
          <td><i><%= @offer.price %></i></td>
        </tr>
        <tr>
          <td>District:</td>
          <td><i><%= @offer.district.name %></i></td>
        </tr>
        <tr>
          <td>Rooms:</td>
          <td><i><% @offer.rooms.each do |r| %>
             <%= r.room.humanize %> |
          <% end %></i></td>
        </tr>
        <tr>
          <td>Publication date:</td>
          <td><i><%= @offer.created_at.to_date %></i></td>
        </tr>
        <tr>
          <td>Contact phone:</td>
          <td><i><%= @offer.phone %></i></td>
        </tr>
      </table>
      <br>

      <p class="off-desc">
        <i><%= @offer.description %></i>
      </p>
      <br>

      <div>
        <% @offer.photos_urls(:l_thumb).each do |photo| %>
            <%= image_tag(photo) if @offer.photos? %>
        <% end %>
      </div>

      <p style="text-align: right"><small>
        Entry author:
        <i><%= @offer.user.email %></i>
      </small></p>

      <% if @offer.user == current_user || current_user&.admin? %>
      <p style="text-align: right">
        <small>
          <%= link_to 'Edit', edit_offer_path(@offer) %>
        </small>
        <small>
          <%= link_to 'Delete', offer_path(@offer), method: :delete, data: { confirm: "Are you sure you want to delete your offer?" } %>
        </small>
      </p>
      <% end %>
    </div>
  </div>

  <br>
  <br>

  <div class="div-ask">
    <%= render 'questions/form' %>
  </div>
  <br>
  <hr>
  <div class="container div-q">
    <div>
      <span style="font-size: 1.8em; color: Black;">
        <i class="fa fa-angle-double-up"; id="icon_best"></i>
      </span>
      <button class="btn btn-dark btn-lg"; id="full">Hide questions</button>
    </div>

    <br>
    <div id="quest">
      <h4 class="p-3 mb-2 bg-success text-white"> Asked questions: </h4>
      <%= render @offer.questions %>
    </div>
  </div>

  <br>
  <hr>

  <div class="container">
    <span style="font-size: 1.5em; color: CadetBlue">
      <i class="fa fa-reply-all"></i>
    </span>
    <%= link_to 'Back to the main page', offers_path, class: "btn btn-info btn-lg", style: "opacity: 0.85" %>
  </div>
  <p><br></p>
  <hr>
</div>
