<!DOCTYPE html>
<html>
  <head>
    <title>New Home</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <style>
      div#quest{
        display:block;
      }
    </style>


  </head>

  <body>

    <div class= "back-img-1">
      
      <% if notice %>
        <div class="alert alert-light">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>

      <%= render 'common/navbar' %>

      <%= yield %>

      <%= render 'common/footer' %>

    </div>

  </body>
</html>
